.main-header{
    display: flex;  
    justify-content: space-between;
    align-items: center;    
    padding: 10px 20px;
    background-color: #252422;  
}

.main-header .icon{
    width: 90px;
    height: 90px;
    margin:0px;
}