.progress-bar{
    -webkit-appearance: none;
    width: 500px;
    height: 50px;    
}

.progress-bar::-webkit-progress-bar{
    background-color: rgb(201, 201, 201);
    border: 5px solid black;
}

.progress-bar::-webkit-progress-value{
    background-color: rgb(62, 62, 62);
}

.progress-bar::-moz-progress-bar{
    background-color: rgb(201, 201, 201);
    border: 5px solid black;
}

.progress-bar::-moz-progress-value{
    background-color: rgb(62, 62, 62);
}